<div class="container mt-4">
  <form [formGroup]="formDados">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="addWord" placeholder="Digite uma palavra" spellcheck="false">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="adicionarPalavra()">Adicionar</button>
      </div>
    </div>
    <div>
      <label>Dicionário:&nbsp;</label>
      <label *ngFor="let palavra of palavras; let i=index">{{!i ? palavra : ',&nbsp;' + palavra}}</label>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" (keydown)="onKeydown($event)" formControlName="verifyWord" placeholder="Verificar" spellcheck="false">
    </div>
  </form>

  <table class="table table-sm table-bordered table-light">    
    <thead>
      <tr>
        <th *ngFor="let head of headerTable" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lineBody of dicionario; let index=index;">
          <th ngClass="lineBody.cor" scope="row">q{{index}}<span *ngIf="lineBody.isFinal">*</span></th>
          <td ngClass="{{lineBody.a.cor}}">{{lineBody.a.estado}}</td>
          <td ngClass="{{lineBody.b.cor}}">{{lineBody.b.estado}}</td>
          <td ngClass="{{lineBody.c.cor}}">{{lineBody.c.estado}}</td>
          <td ngClass="{{lineBody.d.cor}}">{{lineBody.d.estado}}</td>
          <td ngClass="{{lineBody.e.cor}}">{{lineBody.e.estado}}</td>
          <td ngClass="{{lineBody.f.cor}}">{{lineBody.f.estado}}</td>
          <td ngClass="{{lineBody.g.cor}}">{{lineBody.g.estado}}</td>
          <td ngClass="{{lineBody.h.cor}}">{{lineBody.h.estado}}</td>
          <td ngClass="{{lineBody.i.cor}}">{{lineBody.i.estado}}</td>
          <td ngClass="{{lineBody.j.cor}}">{{lineBody.j.estado}}</td>
          <td ngClass="{{lineBody.k.cor}}">{{lineBody.k.estado}}</td>
          <td ngClass="{{lineBody.l.cor}}">{{lineBody.l.estado}}</td>
          <td ngClass="{{lineBody.m.cor}}">{{lineBody.m.estado}}</td>
          <td ngClass="{{lineBody.n.cor}}">{{lineBody.n.estado}}</td>
          <td ngClass="{{lineBody.o.cor}}">{{lineBody.o.estado}}</td>
          <td ngClass="{{lineBody.p.cor}}">{{lineBody.p.estado}}</td>
          <td ngClass="{{lineBody.q.cor}}">{{lineBody.q.estado}}</td>
          <td ngClass="{{lineBody.r.cor}}">{{lineBody.r.estado}}</td>
          <td ngClass="{{lineBody.s.cor}}">{{lineBody.s.estado}}</td>
          <td ngClass="{{lineBody.t.cor}}">{{lineBody.t.estado}}</td>
          <td ngClass="{{lineBody.u.cor}}">{{lineBody.u.estado}}</td>
          <td ngClass="{{lineBody.v.cor}}">{{lineBody.v.estado}}</td>
          <td ngClass="{{lineBody.w.cor}}">{{lineBody.w.estado}}</td>
          <td ngClass="{{lineBody.x.cor}}">{{lineBody.x.estado}}</td>
          <td ngClass="{{lineBody.y.cor}}">{{lineBody.y.estado}}</td>
          <td ngClass="{{lineBody.z.cor}}">{{lineBody.z.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>