<div class="container mt-4">
  <form [formGroup]="formDados">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="addWord" placeholder="Digite uma palavra" spellcheck="false">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="adicionarPalavra()">Adicionar</button>
      </div>
    </div>
    <div>
      <label>Dicionário:&nbsp;</label>
      <label *ngFor="let palavra of palavras; let i=index">{{!i ? palavra : ',&nbsp;' + palavra}}</label>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" (keydown)="onKeydown($event)" formControlName="verifyWord" placeholder="Verificar" spellcheck="false">
    </div>
  </form>
  
  <table class="table table-sm table-bordered table-light">    
    <thead>
      <tr>
        <th *ngFor="let head of headerTable" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lineBody of dicionario; let index=index;">
          <th scope="row">{{index}}</th>
          <td>{{lineBody.a}}</td>
          <td>{{lineBody.b}}</td>
          <td>{{lineBody.c}}</td>
          <td>{{lineBody.d}}</td>
          <td>{{lineBody.e}}</td>
          <td>{{lineBody.f}}</td>
          <td>{{lineBody.g}}</td>
          <td>{{lineBody.h}}</td>
          <td>{{lineBody.i}}</td>
          <td>{{lineBody.j}}</td>
          <td>{{lineBody.k}}</td>
          <td>{{lineBody.l}}</td>
          <td>{{lineBody.m}}</td>
          <td>{{lineBody.n}}</td>
          <td>{{lineBody.o}}</td>
          <td>{{lineBody.p}}</td>
          <td>{{lineBody.q}}</td>
          <td>{{lineBody.r}}</td>
          <td>{{lineBody.s}}</td>
          <td>{{lineBody.t}}</td>
          <td>{{lineBody.u}}</td>
          <td>{{lineBody.v}}</td>
          <td>{{lineBody.w}}</td>
          <td>{{lineBody.x}}</td>
          <td>{{lineBody.y}}</td>
          <td>{{lineBody.z}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>